<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <style>
         body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .content {
            flex: 1;
        }

        .footer {
            position: relative;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #f8f9fa;
            padding: 20px;
            text-align: center;
        }
        .journey-content-container{
            white-space: pre-wrap;
            font-family: 'Roboto', sans-serif;
            font-size: 1rem;
            margin: 0;
        }
        
    </style>
</head>
<body>
    <%- include('../partials/navbar1') %>
    <div class="container">
        <!-- <a href="/login/all-articles" class="btn btn-secondary mt-2">Back</a> Added Back button -->
        

        <div class="card mb-4 mt-4">
            <div class="card-body">
                <h5 class="card-title"><%= article.company_name%></h5>
                <h6 class="card-subtitle mb-2 text-muted">Job Role: <%= article.job_role %></h6>
                <p class="card-text">
                    <strong>Interview Experience: <%= article.candidate_name %></strong>
                </p>
                <p class="card-text">
                    <strong>Preparation Strategies:</strong>
                    <div class="journey-content-container"><%= article.strategy %></div>
                </p>
                <p class="card-text">
                    <strong>Journey:</strong>
                    <div class="journey-content-container"><%= article.journey %></div>
                </p>
                <p class="card-text"><small class="text-muted">Posted on <%= article.createdAt.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) %></small></p>

            </div>
        </div>

       
        <div class="d-flex justify-content-center">
            <a href="/login/all-articles">
              <button class="btn btn-primary btn-lg mb-4 mt-4">Home</button>
            </a>
          </div>

        <div>
            <%= article.markdown %>
        </div>
    </div>

    <%- include('../partials/footer') %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>